container_commands:
  00-debug-info:
    command: |
      cat .env
      whoami
  01-artisan:
    command: |
      sudo php artisan clear-compiled
      sudo php artisan optimize
      sudo php artisan config:cache
      sudo php artisan view:clear
      php artisan migrate
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo chmod -R 770 /var/app/current/storage
      sudo chmod -R 770 /var/app/current/public
      sudo chmod -R 770 /var/app/current/bootstrap/cache
      sudo php /var/app/current/artisan clear-compiled
      sudo php /var/app/current/artisan optimize
      sudo php /var/app/current/artisan config:cache
      sudo php /var/app/current/artisan view:clear
  "/etc/httpd/conf.d/ssl_rewrite.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
          RewriteEngine On
          <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
          RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
          </If>
